@import "../css/reset";

.menu {
	display: flex;
	justify-content: space-around;
	margin-top: 75px; 
	&__button {
		width: 50px;
		height: 50px;
		padding: 10px;
		background-color: #67bc78;
		border-radius: 50%;
		cursor: pointer;
		&:hover {
			background-color: #89df9a;
		}
	}
	&__pluss {
		background: #fff;
		height: 30px; 
		width: 5px;
		position: relative; 
		left: 12px;
	}
	&__pluss:after {
			content: "";
			height: 5px; 
			width: 30px;
			background: #fff;
			position: absolute; 
			left: -12px; 
			top: 12px;
	}
}



.todo-container {
	display: flex;
	padding: 15px;
}

.todo {
	width: 250px;
//	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 5px 6px 23px 6px rgba(0,0,0,.25);
	border-radius: 5px;
	overflow: hidden;
	margin: 10px;
	&__header {
		height: 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #7c54f5;
		color: #fff;
		
		padding-left: 5px;
	}
	&__data {
		margin: 5px;
		font-size: 14px;
		color: darkgrey;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__delete-button {
//		margin: 5px;
		
	}
	&__task {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		border-top: 2px solid #7c54f5;
		border-radius: 5px;
		box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.25);
		padding: 5px;
		&:hover {
			box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.55);
			cursor: pointer;
		}
	}
	&__footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		
		padding: 5px;
		margin: 0 auto;
	}
	&__add-task {
		cursor: pointer;
		&:hover {
			color: coral;
		}
	}
	&__task-text {
		
	}
	&__tags {
		margin-top: 10px;
		border-top: 1px solid gray;
		display: flex;
//		justify-content: space-between;
		flex-wrap: wrap;
	}
}


.tags {
	display: inline-block;
	background-color: coral;
	border-radius: 3px;
	padding: 2px;
	margin: 3px;
	cursor: pointer;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid #00f;
	}
}

